.chalice/deployments/
.chalice/venv/

vendor/
test.py

packaged-*/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/*

# Serverless directories
.serverless

venv
.idea

serverless.env.yml

node_modules
.requirements.zip

__pycache__/
bin/*
.chalice/deployments/*

*.pyc